.spin-loading {
    text-align: center;
    background: rgba(255, 255, 255, 0.637);
    border-radius: 4px;
    margin-bottom: 20px;
    padding: 30px 50px;
    margin: 20px 0;
  }

/* .dispositivo-block { 
  display: 'flex', 
  justifyContent: 'space-between', 
  background: '#ECECEC', 
  padding: '10px' 
}   */
.dispositivo-block { 
  display: 'flex'; 
  justify-content: 'space-between';
  background: rgba(255, 255, 255, 0.849);
  padding: '10px'; 
}  

.leaflet-container {
  height: 300px;
  width: '100%';
}

.container-div{ 
  Display: flex;
  Height: 100vh;
  Width: 100vw; 
  Align-Items: center;
  Justify-Content: center;
  }

.inline-elements {
    display: flex;
    justify-content: space-between;
}

.forms {
  padding: 15px;
  background: #fbfbfb;
  border: 1px solid #d9d9d9;
  border-radius: 6px;
  margin: 10px;
}


.dynamic-delete-button {
  cursor: pointer;
  position: relative;
  top: 4px;
  font-size: 24px;
  color: #999;
  transition: all 0.3s;
}
.dynamic-delete-button:hover {
  color: #777;
}
.dynamic-delete-button[disabled] {
  cursor: not-allowed;
  opacity: 0.5;
}


.float-right {
  float: right;
}

/* .antd-button{
    color: #fff;
    background-color: #1890ff;
    border-color: #1890ff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12);
    -webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045);
    box-shadow: 
} */